<section id="signup">
	<article>
		<div class="row">
			<div class="twelve columns">
				<h2>No te quedes fuera, crea tu tienda ya!</h2>
				<h3>Registrate completamente grátis y sin tarjeta.</h3>
				<div class="call-to-action">
					<%= link_to 'Registrate', new_user_registration_path %>
				</div>
			</div>
		</div>
	</article>
</section>