    <footer>
      <div class="row">
      	<div class="twelve columns">
					<%= image_tag 'mini-logo.png' %>
					<h6>Orgullosamente producido en México.</h6>
					<small>Vendorama 2012 ©</small>
				</div>
			</div>
		</footer>