$main-text-color:		#333;
$background-color: 	#f3f3f3;
$main-color: 				#ed544c;
$highlight-color: 	#fd4239;
$hover-color: 			#fd4239;
$border-color: 			#eee;

$orange:		#ff7d00;
$magenta: 	#e40090;
$blue: 			#008cd2;
$green: 		#00af4d;