canvas#lines {
	position: absolute;
	top: 900px;
	left: 50%;
	margin-left: -530px;
	z-index: -1;
}

//SECTIONS
section {
	margin: 0;
}

.container {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
}






















