@import "constants";

@font-face {
  font-family: 'HandSean';
  src: font-url('handsean.eot');
  src: font-url('handsean.eot?#iefix') format('embedded-opentype'),
       font-url('handsean.woff') format('woff'),
       font-url('handsean.ttf') format('truetype'),
       font-url('handsean.svg#HandSean') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, select, input, textarea, p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: $main-text-color;
}

h1, h2, h3, h4 {
  font-family: 'NexaLight';
  font-weight: normal;
}

p {
  font-weight: normal;
  font-size: 16px;
  color: #777777;
}

a {
  color: #008cd2;
}